/* LandingPage.css */
.landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero-section {
  position: relative;
  background-image: url("../alexis-brown-omeaHbEFlN4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.5rem;
  border-radius: 5px;
  font-size: 2rem;
  line-height: 1.5;
}

.story-section {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 5rem;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}

.explore-button {
  background-color: #1c7aed;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.explore-button:hover {
  background-color: #1466c0;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.story-section h2 {
  font-size: 2.5rem; /* Add this line */
  margin-bottom: 1.5rem; /* Add this line */
}

.story-section p {
  font-size: 1.2rem; /* Add this line */
  line-height: 1.6; /* Add this line */
  text-align: justify; /* Add this line */
}


.features-section {
    padding: 3rem 1rem;
    text-align: center;
  }
  
  .features-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  .features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .feature-card {
    background-color: #f5f5f5;
    padding: 1.5rem;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
  }
  
  .feature-card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .feature-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .feature-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .feature-card p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
  }
  
  @media (max-width: 768px) {
    .features-section h2 {
      font-size: 2rem;
    }
  
    .feature-icon {
      font-size: 2.5rem;
    }
  
    .feature-card h3 {
      font-size: 1.2rem;
    }
  
    .feature-card p {
      font-size: 1rem;
    }
  }
  