.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 80px;
    padding: 0 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 999;
  }
  
  .logo {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: red;
  }
  .logo:hover{
    color: red;
  }
  .dropdown:hover{
    color: red;
  }
  .dropdown{
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin-bottom: 50px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
  
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    
  
    .navbar {
      padding: 0 20px;
    }
  
    .navbar.responsive .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: #ffffff;
      opacity: 0.95;
      z-index: 1;
      overflow-y: scroll;
    }
  
    .navbar.responsive .nav-links li {
      margin: 10px 0;
    }
  
    .navbar.responsive .nav-links a {
      font-size: 24px;
    }
  
    
  }