.pin {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.infoPopup {
  background-color: white;
  width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 5px;
}

.mainMap {
  
  height: 100vh;
}

.schoolMapIMG {
  border-radius: 10px;
  width: 200px;
  height: 100px;
}
